client/resources/com/calypso/schemas/mx/camt.029.001.SIX.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
(C) Copyright 2019, SIX Interbank Clearing Ltd
XML Schema used in the Swiss Interbank space:
	Suffix part 1: .ch:	Identification as a Swiss (CH) version
	Suffix part 2: .02:   Version of this scheme

Based on ISO camt.029.001.03 (urn:iso:std:iso:20022:tech:xsd:camt.029.001.03)
For comments and suggestions please contact pm@six-group.com
-->
<xs:schema xmlns="http://www.six-interbank-clearing.com/de/camt.029.001.03.ch.02"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.six-interbank-clearing.com/de/camt.029.001.03.ch.02"
    elementFormDefault="qualified">
  <xs:element name="Document" type="Document_CH_camt029"/>
  <xs:complexType name="AccountIdentification4Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="IBAN" type="IBAN2007Identifier"/>
        <xs:element name="Othr" type="GenericAccountIdentification1"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AccountIdentification4Choice_CH_camt029">
    <xs:complexContent>
      <xs:restriction base="AccountIdentification4Choice">
        <xs:sequence>
          <xs:choice>
            <xs:element name="IBAN" type="IBAN2007Identifier"/>
            <xs:element name="Othr" type="GenericAccountIdentification1_CH_camt029"/>
          </xs:choice>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AccountIdentification4Choice_CH_camt029_2">
    <xs:complexContent>
      <xs:restriction base="AccountIdentification4Choice">
        <xs:sequence>
          <xs:choice>
            <xs:element name="IBAN" type="IBAN2007Identifier"/>
            <xs:element name="Othr" type="GenericAccountIdentification1_CH_camt029_2"/>
          </xs:choice>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AccountSchemeName1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalAccountIdentification1Code"/>
        <xs:element name="Prtry" type="Max35Text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AccountSchemeName1Choice_CH_camt029">
    <xs:complexContent>
      <xs:restriction base="AccountSchemeName1Choice">
        <xs:sequence>
          <xs:choice>
            <xs:element name="Cd" type="ExternalAccountIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text_CH_camt029_2"/>
          </xs:choice>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
    <xs:simpleContent>
      <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
      <xs:totalDigits value="18"/>
      <xs:fractionDigits value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ActiveOrHistoricCurrencyCode">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{3,3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AddressType2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ADDR"/>
      <xs:enumeration value="BIZZ"/>
      <xs:enumeration value="DLVY"/>
      <xs:enumeration value="HOME"/>
      <xs:enumeration value="MLTO"/>
      <xs:enumeration value="PBOX"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AnyBICIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BICIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification4">
    <xs:sequence>
      <xs:element name="FinInstnId" type="FinancialInstitutionIdentification7"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification4_CH_camt029">
    <xs:complexContent>
      <xs:restriction base="BranchAndFinancialInstitutionIdentification4">
        <xs:sequence>
          <xs:element name="FinInstnId" type="FinancialInstitutionIdentification7_CH_camt029"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification4_CH_camt029_2">
    <xs:complexContent>
      <xs:restriction base="BranchAndFinancialInstitutionIdentification4">
        <xs:sequence>
          <xs:element name="FinInstnId" type="FinancialInstitutionIdentification7_CH_camt029_2"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification4_CH_camt029_3">
    <xs:complexContent>
      <xs:restriction base="BranchAndFinancialInstitutionIdentification4">
        <xs:sequence>
          <xs:element name="FinInstnId" type="FinancialInstitutionIdentification7_CH_camt029_3"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="CancellationIndividualStatus1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RJCR"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CancellationStatusReason1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="PaymentCancellationRejection1Code"/>
        <xs:element name="Prtry" type="Max35Text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CancellationStatusReason1Choice_CH_camt029">
    <xs:complexContent>
      <xs:restriction base="CancellationStatusReason1Choice">
        <xs:sequence>
          <xs:choice>
            <xs:element name="Cd" type="PaymentCancellationRejection1Code"/>
            <xs:element name="Prtry" type="Max35Text_CH_camt029_2"/>
          </xs:choice>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CancellationStatusReasonInformation1">
    <xs:sequence>
      <xs:element name="Orgtr" type="PartyIdentification32" minOccurs="0"/>
      <xs:element name="Rsn" type="CancellationStatusReason1Choice" minOccurs="0"/>
      <xs:element name="AddtlInf" type="Max105Text" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CancellationStatusReasonInformation1_CH_camt029">
    <xs:complexContent>
      <xs:restriction base="CancellationStatusReasonInformation1">
        <xs:sequence>
          <xs:element name="Orgtr" type="PartyIdentification32_CH_camt029"/>
          <xs:element name="Rsn" type="CancellationStatusReason1Choice_CH_camt029"/>
          <xs:element name="AddtlInf" type="Max105Text_CH_camt029" minOccurs="0" maxOccurs="11"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CaseAssignment2">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element name="Assgnr" type="Party7Choice"/>
      <xs:element name="Assgne" type="Party7Choice"/>
      <xs:element name="CreDtTm" type="ISODateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CaseAssignment2_CH_camt029">
    <xs:complexContent>
      <xs:restriction base="CaseAssignment2">
        <xs:sequence>
          <xs:element name="Id" type="Max35Text_CH_camt029"/>
          <xs:element name="Assgnr" type="Party7Choice_CH_camt029"/>
          <xs:element name="Assgne" type="Party7Choice_CH_camt029_2"/>
          <xs:element name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CashAccount16">
    <xs:sequence>
      <xs:element name="Id" type="AccountIdentification4Choice"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashAccount16_CH_camt029">
    <xs:complexContent>
      <xs:restriction base="CashAccount16">
        <xs:sequence>
          <xs:element name="Id" type="AccountIdentification4Choice_CH_camt029"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CashAccount16_CH_camt029_2">
    <xs:complexContent>
      <xs:restriction base="CashAccount16">
        <xs:sequence>
          <xs:element name="Id" type="AccountIdentification4Choice_CH_camt029_2"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CategoryPurpose1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalCategoryPurpose1Code"/>
        <xs:element name="Prtry" type="Max35Text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CategoryPurpose1Choice_CH_camt029">
    <xs:complexContent>
      <xs:restriction base="CategoryPurpose1Choice">
        <xs:sequence>
          <xs:choice>
            <xs:element name="Cd" type="ExternalCategoryPurpose1Code"/>
            <xs:element name="Prtry" type="Max35Text_CH_camt029_2"/>
          </xs:choice>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ClearingSystemIdentification2Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalClearingSystemIdentification1Code"/>
        <xs:element name="Prtry" type="Max35Text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClearingSystemIdentification2Choice_CH_camt029">
    <xs:complexContent>
      <xs:restriction base="ClearingSystemIdentification2Choice">
        <xs:sequence>
          <xs:choice>
            <xs:element name="Cd" type="ExternalClearingSystemIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text_CH_camt029_2"/>
          </xs:choice>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ClearingSystemIdentification3Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalCashClearingSystem1Code"/>
        <xs:element name="Prtry" type="Max35Text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClearingSystemIdentification3Choice_CH_camt029">
    <xs:complexContent>
      <xs:restriction base="ClearingSystemIdentification3Choice">
        <xs:sequence>
          <xs:choice>
            <xs:element name="Cd" type="ExternalCashClearingSystem1Code"/>
            <xs:element name="Prtry" type="Max35Text_CH_camt029_2"/>
          </xs:choice>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ClearingSystemMemberIdentification2">
    <xs:sequence>
      <xs:element name="ClrSysId" type="ClearingSystemIdentification2Choice" minOccurs="0"/>
      <xs:element name="MmbId" type="Max35Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClearingSystemMemberIdentification2_CH_camt029">
    <xs:complexContent>
      <xs:restriction base="ClearingSystemMemberIdentification2">
        <xs:sequence>
          <xs:element name="ClrSysId" type="ClearingSystemIdentification2Choice"/>
          <xs:element name="MmbId" type="Max35Text"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ClearingSystemMemberIdentification2_CH_camt029_2">
    <xs:complexContent>
      <xs:restriction base="ClearingSystemMemberIdentification2">
        <xs:sequence>
          <xs:element name="ClrSysId" type="ClearingSystemIdentification2Choice_CH_camt029"/>
          <xs:element name="MmbId" type="Max35Text_CH_camt029_2"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ContactDetails2">
    <xs:sequence>
      <xs:element name="NmPrfx" type="NamePrefix1Code" minOccurs="0"/>
      <xs:element name="Nm" type="Max140Text" minOccurs="0"/>
      <xs:element name="PhneNb" type="PhoneNumber" minOccurs="0"/>
      <xs:element name="MobNb" type="PhoneNumber" minOccurs="0"/>
      <xs:element name="FaxNb" type="PhoneNumber" minOccurs="0"/>
      <xs:element name="EmailAdr" type="Max2048Text" minOccurs="0"/>
      <xs:element name="Othr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ContactDetails2_CH_camt029">
    <xs:complexContent>
      <xs:restriction base="ContactDetails2">
        <xs:sequence>
          <xs:element name="NmPrfx" type="NamePrefix1Code" minOccurs="0"/>
          <xs:element name="Nm" type="Max140Text_CH_camt029" minOccurs="0"/>
          <xs:element name="PhneNb" type="PhoneNumber" minOccurs="0"/>
          <xs:element name="MobNb" type="PhoneNumber" minOccurs="0"/>
          <xs:element name="FaxNb" type="PhoneNumber" minOccurs="0"/>
          <xs:element name="EmailAdr" type="Max2048Text_CH_camt029" minOccurs="0"/>
          <xs:element name="Othr" type="Max35Text_CH_camt029_3" minOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="CountryCode">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2,2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CreditDebitCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CRDT"/>
      <xs:enumeration value="DBIT"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CreditorReferenceInformation2">
    <xs:sequence>
      <xs:element name="Tp" type="CreditorReferenceType2" minOccurs="0"/>
      <xs:element name="Ref" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditorReferenceInformation2_CH_camt029">
    <xs:complexContent>
      <xs:restriction base="CreditorReferenceInformation2">
        <xs:sequence>
          <xs:element name="Tp" type="CreditorReferenceType2_CH_camt029"/>
          <xs:element name="Ref" type="Max35Text_CH_camt029_3"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CreditorReferenceType1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="DocumentType3Code"/>
        <xs:element name="Prtry" type="Max35Text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditorReferenceType1Choice_CH_camt029">
    <xs:complexContent>
      <xs:restriction base="CreditorReferenceType1Choice">
        <xs:sequence>
          <xs:choice>
            <xs:element name="Cd" type="DocumentType3Code"/>
            <xs:element name="Prtry" type="Max35Text_CH_camt029_2"/>
          </xs:choice>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CreditorReferenceType2">
    <xs:sequence>
      <xs:element name="CdOrPrtry" type="CreditorReferenceType1Choice"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditorReferenceType2_CH_camt029">
    <xs:complexContent>
      <xs:restriction base="CreditorReferenceType2">
        <xs:sequence>
          <xs:element name="CdOrPrtry" type="CreditorReferenceType1Choice_CH_camt029"/>
          <xs:element name="Issr" type="Max35Text_CH_camt029_2" minOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DateAndPlaceOfBirth">
    <xs:sequence>
      <xs:element name="BirthDt" type="ISODate"/>
      <xs:element name="PrvcOfBirth" type="Max35Text" minOccurs="0"/>
      <xs:element name="CityOfBirth" type="Max35Text"/>
      <xs:element name="CtryOfBirth" type="CountryCode"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DateAndPlaceOfBirth_CH_camt029">
    <xs:complexContent>
      <xs:restriction base="DateAndPlaceOfBirth">
        <xs:sequence>
          <xs:element name="BirthDt" type="ISODate"/>
          <xs:element name="PrvcOfBirth" type="Max35Text_CH_camt029_3" minOccurs="0"/>
          <xs:element name="CityOfBirth" type="Max35Text_CH_camt029_3"/>
          <xs:element name="CtryOfBirth" type="CountryCode"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element name="RsltnOfInvstgtn" type="ResolutionOfInvestigationV03"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentAdjustment1">
    <xs:sequence>
      <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
      <xs:element name="CdtDbtInd" type="CreditDebitCode" minOccurs="0"/>
      <xs:element name="Rsn" type="Max4Text" minOccurs="0"/>
      <xs:element name="AddtlInf" type="Max140Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentAdjustment1_CH_camt029">
    <xs:complexContent>
      <xs:restriction base="DocumentAdjustment1">
        <xs:sequence>
          <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
          <xs:element name="CdtDbtInd" type="CreditDebitCode" minOccurs="0"/>
          <xs:element name="Rsn" type="Max4Text_CH_camt029" minOccurs="0"/>
          <xs:element name="AddtlInf" type="Max140Text_CH_camt029" minOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="DocumentType3Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DISP"/>
      <xs:enumeration value="FXDR"/>
      <xs:enumeration value="PUOR"/>
      <xs:enumeration value="RADM"/>
      <xs:enumeration value="RPIN"/>
      <xs:enumeration value="SCOR"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DocumentType5Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AROI"/>
      <xs:enumeration value="BOLD"/>
      <xs:enumeration value="CINV"/>
      <xs:enumeration value="CMCN"/>
      <xs:enumeration value="CNFA"/>
      <xs:enumeration value="CREN"/>
      <xs:enumeration value="DEBN"/>
      <xs:enumeration value="DISP"/>
      <xs:enumeration value="DNFA"/>
      <xs:enumeration value="HIRI"/>
      <xs:enumeration value="MSIN"/>
      <xs:enumeration value="SBIN"/>
      <xs:enumeration value="SOAC"/>
      <xs:enumeration value="TSUT"/>
      <xs:enumeration value="VCHR"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Document_CH_camt029">
    <xs:complexContent>
      <xs:restriction base="Document">
        <xs:sequence>
          <xs:element name="RsltnOfInvstgtn" type="ResolutionOfInvestigationV03_CH_camt029"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="ExternalAccountIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalCashClearingSystem1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalCategoryPurpose1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalClearingSystemIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalLocalInstrument1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalOrganisationIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalPersonIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalServiceLevel1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="FinancialInstitutionIdentification7">
    <xs:sequence>
      <xs:element name="BIC" type="BICIdentifier" minOccurs="0"/>
      <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2" minOccurs="0"/>
      <xs:element name="Nm" type="Max140Text" minOccurs="0"/>
      <xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0"/>
      <xs:element name="Othr" type="GenericFinancialIdentification1" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FinancialInstitutionIdentification7_CH_camt029">
    <xs:complexContent>
      <xs:restriction base="FinancialInstitutionIdentification7">
        <xs:sequence>
          <xs:element name="BIC" type="BICIdentifier" minOccurs="0"/>
          <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2_CH_camt029" minOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FinancialInstitutionIdentification7_CH_camt029_2">
    <xs:complexContent>
      <xs:restriction base="FinancialInstitutionIdentification7">
        <xs:sequence>
          <xs:element name="BIC" type="BICIdentifier" minOccurs="0"/>
          <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2_CH_camt029" minOccurs="0"/>
          <xs:element name="Othr" type="GenericFinancialIdentification1_CH_camt029" minOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FinancialInstitutionIdentification7_CH_camt029_3">
    <xs:complexContent>
      <xs:restriction base="FinancialInstitutionIdentification7">
        <xs:sequence>
          <xs:element name="BIC" type="BICIdentifier" minOccurs="0"/>
          <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2_CH_camt029_2" minOccurs="0"/>
          <xs:element name="Nm" type="Max140Text_CH_camt029" minOccurs="0"/>
          <xs:element name="PstlAdr" type="PostalAddress6_CH_camt029_2" minOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GenericAccountIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max34Text"/>
      <xs:element name="SchmeNm" type="AccountSchemeName1Choice" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericAccountIdentification1_CH_camt029">
    <xs:complexContent>
      <xs:restriction base="GenericAccountIdentification1">
        <xs:sequence>
          <xs:element name="Id" type="Max34Text_CH_camt029"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GenericAccountIdentification1_CH_camt029_2">
    <xs:complexContent>
      <xs:restriction base="GenericAccountIdentification1">
        <xs:sequence>
          <xs:element name="Id" type="Max34Text_CH_camt029"/>
          <xs:element name="SchmeNm" type="AccountSchemeName1Choice_CH_camt029"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GenericFinancialIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericFinancialIdentification1_CH_camt029">
    <xs:complexContent>
      <xs:restriction base="GenericFinancialIdentification1">
        <xs:sequence>
          <xs:element name="Id" type="Max35Text_CH_camt029"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GenericOrganisationIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericOrganisationIdentification1_CH_camt029">
    <xs:complexContent>
      <xs:restriction base="GenericOrganisationIdentification1">
        <xs:sequence>
          <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GenericOrganisationIdentification1_CH_camt029_2">
    <xs:complexContent>
      <xs:restriction base="GenericOrganisationIdentification1">
        <xs:sequence>
          <xs:element name="Id" type="Max35Text_CH_camt029_2"/>
          <xs:element name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice_CH_camt029" minOccurs="0"/>
          <xs:element name="Issr" type="Max35Text_CH_camt029_2" minOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GenericPersonIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element name="SchmeNm" type="PersonIdentificationSchemeName1Choice" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericPersonIdentification1_CH_camt029">
    <xs:complexContent>
      <xs:restriction base="GenericPersonIdentification1">
        <xs:sequence>
          <xs:element name="Id" type="Max35Text_CH_camt029_2"/>
          <xs:element name="SchmeNm" type="PersonIdentificationSchemeName1Choice_CH_camt029" minOccurs="0"/>
          <xs:element name="Issr" type="Max35Text_CH_camt029_2" minOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="IBAN2007Identifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="InvestigationExecutionConfirmation3Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RJCR"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="InvestigationStatus2Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Conf" type="InvestigationExecutionConfirmation3Code"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ISODate">
    <xs:restriction base="xs:date"/>
  </xs:simpleType>
  <xs:simpleType name="ISODateTime">
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  <xs:complexType name="LocalInstrument2Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalLocalInstrument1Code"/>
        <xs:element name="Prtry" type="Max35Text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LocalInstrument2Choice_CH_camt029">
    <xs:complexContent>
      <xs:restriction base="LocalInstrument2Choice">
        <xs:sequence>
          <xs:choice>
            <xs:element name="Cd" type="ExternalLocalInstrument1Code"/>
            <xs:element name="Prtry" type="Max35Text_CH_camt029_2"/>
          </xs:choice>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="Max105Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="105"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max105Text_CH_camt029">
    <xs:restriction base="Max105Text">
      <xs:minLength value="1"/>
      <xs:maxLength value="105"/>
      <xs:pattern value="[ ]*[A-Za-z0-9+?/:()\.,&apos;\-][A-Za-z0-9+?/:()\.,&apos; \-]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max140Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="140"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max140Text_CH_camt029">
    <xs:restriction base="Max140Text">
      <xs:minLength value="1"/>
      <xs:maxLength value="140"/>
      <xs:pattern value="[ ]*[A-Za-z0-9+?/:()\.,&apos;\-][A-Za-z0-9+?/:()\.,&apos; \-]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max16Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="16"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max16Text_CH_camt029">
    <xs:restriction base="Max16Text">
      <xs:minLength value="1"/>
      <xs:maxLength value="16"/>
      <xs:pattern value="[ ]*[A-Za-z0-9+?/:()\.,&apos;\-][A-Za-z0-9+?/:()\.,&apos; \-]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max2048Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="2048"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max2048Text_CH_camt029">
    <xs:restriction base="Max2048Text">
      <xs:minLength value="1"/>
      <xs:maxLength value="2048"/>
      <xs:pattern value="[ ]*[A-Za-z0-9+?/:()\.,&apos;\-][A-Za-z0-9+?/:()\.,&apos; \-]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max34Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="34"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max34Text_CH_camt029">
    <xs:restriction base="Max34Text">
      <xs:minLength value="1"/>
      <xs:maxLength value="34"/>
      <xs:pattern value="[A-Za-z0-9+?/:()\.,&apos;\-][A-Za-z0-9+?/:()\.,&apos; \-]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text_CH_camt029">
    <xs:restriction base="Max35Text">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
      <xs:pattern value="[A-Za-z0-9+?/:()\.,&apos;\-]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text_CH_camt029_2">
    <xs:restriction base="Max35Text">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
      <xs:pattern value="[A-Za-z0-9+?/:()\.,&apos;\-][A-Za-z0-9+?/:()\.,&apos; \-]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text_CH_camt029_3">
    <xs:restriction base="Max35Text">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
      <xs:pattern value="[ ]*[A-Za-z0-9+?/:()\.,&apos;\-][A-Za-z0-9+?/:()\.,&apos; \-]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max4Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max4Text_CH_camt029">
    <xs:restriction base="Max4Text">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
      <xs:pattern value="[A-Za-z0-9+?/:()\.,&apos;\-][A-Za-z0-9+?/:()\.,&apos; \-]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max70Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="70"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max70Text_CH_camt029">
    <xs:restriction base="Max70Text">
      <xs:minLength value="1"/>
      <xs:maxLength value="70"/>
      <xs:pattern value="[ ]*[A-Za-z0-9+?/:()\.,&apos;\-][A-Za-z0-9+?/:()\.,&apos; \-]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NamePrefix1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DOCT"/>
      <xs:enumeration value="MADM"/>
      <xs:enumeration value="MISS"/>
      <xs:enumeration value="MIST"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="OrganisationIdentification4">
    <xs:sequence>
      <xs:element name="BICOrBEI" type="AnyBICIdentifier" minOccurs="0"/>
      <xs:element name="Othr" type="GenericOrganisationIdentification1" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganisationIdentification4_CH_camt029">
    <xs:complexContent>
      <xs:restriction base="OrganisationIdentification4">
        <xs:sequence>
          <xs:element name="BICOrBEI" type="AnyBICIdentifier" minOccurs="0"/>
          <xs:element name="Othr" type="GenericOrganisationIdentification1_CH_camt029" minOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrganisationIdentification4_CH_camt029_2">
    <xs:complexContent>
      <xs:restriction base="OrganisationIdentification4">
        <xs:sequence>
          <xs:element name="BICOrBEI" type="AnyBICIdentifier" minOccurs="0"/>
          <xs:element name="Othr" type="GenericOrganisationIdentification1_CH_camt029_2" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrganisationIdentification4_CH_camt029_3">
    <xs:complexContent>
      <xs:restriction base="OrganisationIdentification4">
        <xs:sequence>
          <xs:element name="BICOrBEI" type="AnyBICIdentifier" minOccurs="0"/>
          <xs:element name="Othr" type="GenericOrganisationIdentification1_CH_camt029_2" minOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrganisationIdentificationSchemeName1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalOrganisationIdentification1Code"/>
        <xs:element name="Prtry" type="Max35Text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganisationIdentificationSchemeName1Choice_CH_camt029">
    <xs:complexContent>
      <xs:restriction base="OrganisationIdentificationSchemeName1Choice">
        <xs:sequence>
          <xs:choice>
            <xs:element name="Cd" type="ExternalOrganisationIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text_CH_camt029_2"/>
          </xs:choice>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OriginalGroupInformation3">
    <xs:sequence>
      <xs:element name="OrgnlMsgId" type="Max35Text"/>
      <xs:element name="OrgnlMsgNmId" type="Max35Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginalGroupInformation3_CH_camt029">
    <xs:complexContent>
      <xs:restriction base="OriginalGroupInformation3">
        <xs:sequence>
          <xs:element name="OrgnlMsgId" type="Max35Text_CH_camt029"/>
          <xs:element name="OrgnlMsgNmId" type="Max35Text_CH_camt029_2"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OriginalTransactionReference13">
    <xs:sequence>
      <xs:element name="IntrBkSttlmAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
      <xs:element name="IntrBkSttlmDt" type="ISODate" minOccurs="0"/>
      <xs:element name="SttlmInf" type="SettlementInformation13" minOccurs="0"/>
      <xs:element name="PmtTpInf" type="PaymentTypeInformation22" minOccurs="0"/>
      <xs:element name="RmtInf" type="RemittanceInformation5" minOccurs="0"/>
      <xs:element name="UltmtDbtr" type="PartyIdentification32" minOccurs="0"/>
      <xs:element name="Dbtr" type="PartyIdentification32" minOccurs="0"/>
      <xs:element name="DbtrAcct" type="CashAccount16" minOccurs="0"/>
      <xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
      <xs:element name="DbtrAgtAcct" type="CashAccount16" minOccurs="0"/>
      <xs:element name="CdtrAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
      <xs:element name="CdtrAgtAcct" type="CashAccount16" minOccurs="0"/>
      <xs:element name="Cdtr" type="PartyIdentification32" minOccurs="0"/>
      <xs:element name="CdtrAcct" type="CashAccount16" minOccurs="0"/>
      <xs:element name="UltmtCdtr" type="PartyIdentification32" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginalTransactionReference13_CH_camt029">
    <xs:complexContent>
      <xs:restriction base="OriginalTransactionReference13">
        <xs:sequence>
          <xs:element name="IntrBkSttlmAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
          <xs:element name="IntrBkSttlmDt" type="ISODate" minOccurs="0"/>
          <xs:element name="SttlmInf" type="SettlementInformation13_CH_camt029" minOccurs="0"/>
          <xs:element name="PmtTpInf" type="PaymentTypeInformation22_CH_camt029" minOccurs="0"/>
          <xs:element name="RmtInf" type="RemittanceInformation5_CH_camt029" minOccurs="0"/>
          <xs:element name="UltmtDbtr" type="PartyIdentification32_CH_camt029_3" minOccurs="0"/>
          <xs:element name="Dbtr" type="PartyIdentification32_CH_camt029_3" minOccurs="0"/>
          <xs:element name="DbtrAcct" type="CashAccount16_CH_camt029" minOccurs="0"/>
          <xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification4_CH_camt029_3" minOccurs="0"/>
          <xs:element name="DbtrAgtAcct" type="CashAccount16_CH_camt029" minOccurs="0"/>
          <xs:element name="CdtrAgt" type="BranchAndFinancialInstitutionIdentification4_CH_camt029_3" minOccurs="0"/>
          <xs:element name="CdtrAgtAcct" type="CashAccount16_CH_camt029" minOccurs="0"/>
          <xs:element name="Cdtr" type="PartyIdentification32_CH_camt029_3" minOccurs="0"/>
          <xs:element name="CdtrAcct" type="CashAccount16_CH_camt029_2" minOccurs="0"/>
          <xs:element name="UltmtCdtr" type="PartyIdentification32_CH_camt029_3" minOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Party6Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="OrgId" type="OrganisationIdentification4"/>
        <xs:element name="PrvtId" type="PersonIdentification5"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Party6Choice_CH_camt029">
    <xs:complexContent>
      <xs:restriction base="Party6Choice">
        <xs:sequence>
          <xs:choice>
            <xs:element name="OrgId" type="OrganisationIdentification4_CH_camt029"/>
          </xs:choice>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Party6Choice_CH_camt029_2">
    <xs:complexContent>
      <xs:restriction base="Party6Choice">
        <xs:sequence>
          <xs:choice>
            <xs:element name="OrgId" type="OrganisationIdentification4_CH_camt029_2"/>
            <xs:element name="PrvtId" type="PersonIdentification5_CH_camt029"/>
          </xs:choice>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Party6Choice_CH_camt029_3">
    <xs:complexContent>
      <xs:restriction base="Party6Choice">
        <xs:sequence>
          <xs:choice>
            <xs:element name="OrgId" type="OrganisationIdentification4_CH_camt029_3"/>
            <xs:element name="PrvtId" type="PersonIdentification5_CH_camt029_2"/>
          </xs:choice>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Party7Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Agt" type="BranchAndFinancialInstitutionIdentification4"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Party7Choice_CH_camt029">
    <xs:complexContent>
      <xs:restriction base="Party7Choice">
        <xs:sequence>
          <xs:choice>
            <xs:element name="Agt" type="BranchAndFinancialInstitutionIdentification4_CH_camt029"/>
          </xs:choice>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Party7Choice_CH_camt029_2">
    <xs:complexContent>
      <xs:restriction base="Party7Choice">
        <xs:sequence>
          <xs:choice>
            <xs:element name="Agt" type="BranchAndFinancialInstitutionIdentification4_CH_camt029_2"/>
          </xs:choice>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PartyIdentification32">
    <xs:sequence>
      <xs:element name="Nm" type="Max140Text" minOccurs="0"/>
      <xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0"/>
      <xs:element name="Id" type="Party6Choice" minOccurs="0"/>
      <xs:element name="CtryOfRes" type="CountryCode" minOccurs="0"/>
      <xs:element name="CtctDtls" type="ContactDetails2" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyIdentification32_CH_camt029">
    <xs:complexContent>
      <xs:restriction base="PartyIdentification32">
        <xs:sequence>
          <xs:element name="Nm" type="Max140Text_CH_camt029" minOccurs="0"/>
          <xs:element name="Id" type="Party6Choice_CH_camt029" minOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PartyIdentification32_CH_camt029_2">
    <xs:complexContent>
      <xs:restriction base="PartyIdentification32">
        <xs:sequence>
          <xs:element name="Nm" type="Max140Text_CH_camt029" minOccurs="0"/>
          <xs:element name="PstlAdr" type="PostalAddress6_CH_camt029" minOccurs="0"/>
          <xs:element name="Id" type="Party6Choice_CH_camt029_2" minOccurs="0"/>
          <xs:element name="CtryOfRes" type="CountryCode" minOccurs="0"/>
          <xs:element name="CtctDtls" type="ContactDetails2_CH_camt029" minOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PartyIdentification32_CH_camt029_3">
    <xs:complexContent>
      <xs:restriction base="PartyIdentification32">
        <xs:sequence>
          <xs:element name="Nm" type="Max140Text_CH_camt029" minOccurs="0"/>
          <xs:element name="PstlAdr" type="PostalAddress6_CH_camt029_2" minOccurs="0"/>
          <xs:element name="Id" type="Party6Choice_CH_camt029_3" minOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="PaymentCancellationRejection1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CUST"/>
      <xs:enumeration value="LEGL"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PaymentTransactionInformation33">
    <xs:sequence>
      <xs:element name="CxlStsId" type="Max35Text" minOccurs="0"/>
      <xs:element name="OrgnlGrpInf" type="OriginalGroupInformation3" minOccurs="0"/>
      <xs:element name="OrgnlInstrId" type="Max35Text" minOccurs="0"/>
      <xs:element name="OrgnlEndToEndId" type="Max35Text" minOccurs="0"/>
      <xs:element name="OrgnlTxId" type="Max35Text" minOccurs="0"/>
      <xs:element name="TxCxlSts" type="CancellationIndividualStatus1Code" minOccurs="0"/>
      <xs:element name="CxlStsRsnInf" type="CancellationStatusReasonInformation1" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="OrgnlTxRef" type="OriginalTransactionReference13" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentTransactionInformation33_CH_camt029">
    <xs:complexContent>
      <xs:restriction base="PaymentTransactionInformation33">
        <xs:sequence>
          <xs:element name="CxlStsId" type="Max35Text_CH_camt029"/>
          <xs:element name="OrgnlGrpInf" type="OriginalGroupInformation3_CH_camt029"/>
          <xs:element name="OrgnlInstrId" type="Max35Text_CH_camt029" minOccurs="0"/>
          <xs:element name="OrgnlEndToEndId" type="Max35Text_CH_camt029_3" minOccurs="0"/>
          <xs:element name="OrgnlTxId" type="Max35Text_CH_camt029"/>
          <xs:element name="TxCxlSts" type="CancellationIndividualStatus1Code"/>
          <xs:element name="CxlStsRsnInf" type="CancellationStatusReasonInformation1_CH_camt029"/>
          <xs:element name="OrgnlTxRef" type="OriginalTransactionReference13_CH_camt029" minOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PaymentTypeInformation22">
    <xs:sequence>
      <xs:element name="SvcLvl" type="ServiceLevel8Choice" minOccurs="0"/>
      <xs:element name="LclInstrm" type="LocalInstrument2Choice" minOccurs="0"/>
      <xs:element name="CtgyPurp" type="CategoryPurpose1Choice" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentTypeInformation22_CH_camt029">
    <xs:complexContent>
      <xs:restriction base="PaymentTypeInformation22">
        <xs:sequence>
          <xs:element name="SvcLvl" type="ServiceLevel8Choice_CH_camt029" minOccurs="0"/>
          <xs:element name="LclInstrm" type="LocalInstrument2Choice_CH_camt029" minOccurs="0"/>
          <xs:element name="CtgyPurp" type="CategoryPurpose1Choice_CH_camt029" minOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonIdentification5">
    <xs:sequence>
      <xs:element name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth" minOccurs="0"/>
      <xs:element name="Othr" type="GenericPersonIdentification1" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonIdentification5_CH_camt029">
    <xs:complexContent>
      <xs:restriction base="PersonIdentification5">
        <xs:sequence>
          <xs:element name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth_CH_camt029" minOccurs="0"/>
          <xs:element name="Othr" type="GenericPersonIdentification1_CH_camt029" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonIdentification5_CH_camt029_2">
    <xs:complexContent>
      <xs:restriction base="PersonIdentification5">
        <xs:sequence>
          <xs:element name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth_CH_camt029" minOccurs="0"/>
          <xs:element name="Othr" type="GenericPersonIdentification1_CH_camt029" minOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonIdentificationSchemeName1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalPersonIdentification1Code"/>
        <xs:element name="Prtry" type="Max35Text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonIdentificationSchemeName1Choice_CH_camt029">
    <xs:complexContent>
      <xs:restriction base="PersonIdentificationSchemeName1Choice">
        <xs:sequence>
          <xs:choice>
            <xs:element name="Cd" type="ExternalPersonIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text_CH_camt029_2"/>
          </xs:choice>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="PhoneNumber">
    <xs:restriction base="xs:string">
      <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PostalAddress6">
    <xs:sequence>
      <xs:element name="AdrTp" type="AddressType2Code" minOccurs="0"/>
      <xs:element name="Dept" type="Max70Text" minOccurs="0"/>
      <xs:element name="SubDept" type="Max70Text" minOccurs="0"/>
      <xs:element name="StrtNm" type="Max70Text" minOccurs="0"/>
      <xs:element name="BldgNb" type="Max16Text" minOccurs="0"/>
      <xs:element name="PstCd" type="Max16Text" minOccurs="0"/>
      <xs:element name="TwnNm" type="Max35Text" minOccurs="0"/>
      <xs:element name="CtrySubDvsn" type="Max35Text" minOccurs="0"/>
      <xs:element name="Ctry" type="CountryCode" minOccurs="0"/>
      <xs:element name="AdrLine" type="Max70Text" minOccurs="0" maxOccurs="7"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PostalAddress6_CH_camt029">
    <xs:complexContent>
      <xs:restriction base="PostalAddress6">
        <xs:sequence>
          <xs:element name="AdrTp" type="AddressType2Code" minOccurs="0"/>
          <xs:element name="Dept" type="Max70Text_CH_camt029" minOccurs="0"/>
          <xs:element name="SubDept" type="Max70Text_CH_camt029" minOccurs="0"/>
          <xs:element name="StrtNm" type="Max70Text_CH_camt029" minOccurs="0"/>
          <xs:element name="BldgNb" type="Max16Text_CH_camt029" minOccurs="0"/>
          <xs:element name="PstCd" type="Max16Text_CH_camt029" minOccurs="0"/>
          <xs:element name="TwnNm" type="Max35Text_CH_camt029_3" minOccurs="0"/>
          <xs:element name="CtrySubDvsn" type="Max35Text_CH_camt029_3" minOccurs="0"/>
          <xs:element name="Ctry" type="CountryCode" minOccurs="0"/>
          <xs:element name="AdrLine" type="Max70Text_CH_camt029" minOccurs="0" maxOccurs="7"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PostalAddress6_CH_camt029_2">
    <xs:complexContent>
      <xs:restriction base="PostalAddress6">
        <xs:sequence>
          <xs:element name="StrtNm" type="Max70Text_CH_camt029" minOccurs="0"/>
          <xs:element name="BldgNb" type="Max16Text_CH_camt029" minOccurs="0"/>
          <xs:element name="PstCd" type="Max16Text_CH_camt029" minOccurs="0"/>
          <xs:element name="TwnNm" type="Max35Text_CH_camt029_3" minOccurs="0"/>
          <xs:element name="Ctry" type="CountryCode" minOccurs="0"/>
          <xs:element name="AdrLine" type="Max70Text_CH_camt029" minOccurs="0" maxOccurs="2"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ReferredDocumentInformation3">
    <xs:sequence>
      <xs:element name="Tp" type="ReferredDocumentType2" minOccurs="0"/>
      <xs:element name="Nb" type="Max35Text" minOccurs="0"/>
      <xs:element name="RltdDt" type="ISODate" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferredDocumentInformation3_CH_camt029">
    <xs:complexContent>
      <xs:restriction base="ReferredDocumentInformation3">
        <xs:sequence>
          <xs:element name="Tp" type="ReferredDocumentType2_CH_camt029"/>
          <xs:element name="Nb" type="Max35Text_CH_camt029_3"/>
          <xs:element name="RltdDt" type="ISODate"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ReferredDocumentType1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="DocumentType5Code"/>
        <xs:element name="Prtry" type="Max35Text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferredDocumentType1Choice_CH_camt029">
    <xs:complexContent>
      <xs:restriction base="ReferredDocumentType1Choice">
        <xs:sequence>
          <xs:choice>
            <xs:element name="Cd" type="DocumentType5Code"/>
            <xs:element name="Prtry" type="Max35Text_CH_camt029_2"/>
          </xs:choice>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ReferredDocumentType2">
    <xs:sequence>
      <xs:element name="CdOrPrtry" type="ReferredDocumentType1Choice"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferredDocumentType2_CH_camt029">
    <xs:complexContent>
      <xs:restriction base="ReferredDocumentType2">
        <xs:sequence>
          <xs:element name="CdOrPrtry" type="ReferredDocumentType1Choice_CH_camt029"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RemittanceAmount1">
    <xs:sequence>
      <xs:element name="DuePyblAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
      <xs:element name="DscntApldAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
      <xs:element name="CdtNoteAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
      <xs:element name="TaxAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
      <xs:element name="AdjstmntAmtAndRsn" type="DocumentAdjustment1" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="RmtdAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemittanceAmount1_CH_camt029">
    <xs:complexContent>
      <xs:restriction base="RemittanceAmount1">
        <xs:sequence>
          <xs:element name="DuePyblAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
          <xs:element name="DscntApldAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
          <xs:element name="CdtNoteAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
          <xs:element name="TaxAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
          <xs:element name="AdjstmntAmtAndRsn" type="DocumentAdjustment1_CH_camt029" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="RmtdAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RemittanceInformation5">
    <xs:sequence>
      <xs:element name="Ustrd" type="Max140Text" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Strd" type="StructuredRemittanceInformation7" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemittanceInformation5_CH_camt029">
    <xs:complexContent>
      <xs:restriction base="RemittanceInformation5">
        <xs:sequence>
          <xs:element name="Ustrd" type="Max140Text_CH_camt029" minOccurs="0"/>
          <xs:element name="Strd" type="StructuredRemittanceInformation7_CH_camt029" minOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ResolutionOfInvestigationV03">
    <xs:sequence>
      <xs:element name="Assgnmt" type="CaseAssignment2"/>
      <xs:element name="Sts" type="InvestigationStatus2Choice"/>
      <xs:element name="CxlDtls" type="UnderlyingTransaction3" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResolutionOfInvestigationV03_CH_camt029">
    <xs:complexContent>
      <xs:restriction base="ResolutionOfInvestigationV03">
        <xs:sequence>
          <xs:element name="Assgnmt" type="CaseAssignment2_CH_camt029"/>
          <xs:element name="Sts" type="InvestigationStatus2Choice"/>
          <xs:element name="CxlDtls" type="UnderlyingTransaction3_CH_camt029"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ServiceLevel8Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalServiceLevel1Code"/>
        <xs:element name="Prtry" type="Max35Text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ServiceLevel8Choice_CH_camt029">
    <xs:complexContent>
      <xs:restriction base="ServiceLevel8Choice">
        <xs:sequence>
          <xs:choice>
            <xs:element name="Cd" type="ExternalServiceLevel1Code"/>
            <xs:element name="Prtry" type="Max35Text_CH_camt029_2"/>
          </xs:choice>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SettlementInformation13">
    <xs:sequence>
      <xs:element name="SttlmMtd" type="SettlementMethod1Code"/>
      <xs:element name="ClrSys" type="ClearingSystemIdentification3Choice" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SettlementInformation13_CH_camt029">
    <xs:complexContent>
      <xs:restriction base="SettlementInformation13">
        <xs:sequence>
          <xs:element name="SttlmMtd" type="SettlementMethod1Code"/>
          <xs:element name="ClrSys" type="ClearingSystemIdentification3Choice_CH_camt029" minOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="SettlementMethod1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CLRG"/>
      <xs:enumeration value="COVE"/>
      <xs:enumeration value="INDA"/>
      <xs:enumeration value="INGA"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="StructuredRemittanceInformation7">
    <xs:sequence>
      <xs:element name="RfrdDocInf" type="ReferredDocumentInformation3" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="RfrdDocAmt" type="RemittanceAmount1" minOccurs="0"/>
      <xs:element name="CdtrRefInf" type="CreditorReferenceInformation2" minOccurs="0"/>
      <xs:element name="Invcr" type="PartyIdentification32" minOccurs="0"/>
      <xs:element name="Invcee" type="PartyIdentification32" minOccurs="0"/>
      <xs:element name="AddtlRmtInf" type="Max140Text" minOccurs="0" maxOccurs="3"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredRemittanceInformation7_CH_camt029">
    <xs:complexContent>
      <xs:restriction base="StructuredRemittanceInformation7">
        <xs:sequence>
          <xs:element name="RfrdDocInf" type="ReferredDocumentInformation3_CH_camt029" minOccurs="0"/>
          <xs:element name="RfrdDocAmt" type="RemittanceAmount1_CH_camt029" minOccurs="0"/>
          <xs:element name="CdtrRefInf" type="CreditorReferenceInformation2_CH_camt029" minOccurs="0"/>
          <xs:element name="Invcr" type="PartyIdentification32_CH_camt029_2" minOccurs="0"/>
          <xs:element name="Invcee" type="PartyIdentification32_CH_camt029_2" minOccurs="0"/>
          <xs:element name="AddtlRmtInf" type="Max140Text_CH_camt029" minOccurs="0" maxOccurs="3"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UnderlyingTransaction3">
    <xs:sequence>
      <xs:element name="TxInfAndSts" type="PaymentTransactionInformation33" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UnderlyingTransaction3_CH_camt029">
    <xs:complexContent>
      <xs:restriction base="UnderlyingTransaction3">
        <xs:sequence>
          <xs:element name="TxInfAndSts" type="PaymentTransactionInformation33_CH_camt029"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
