client/resources/com/calypso/schemas/mx/head.001.001.01.T2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2016. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: RTGS
Collection: RTGS_BusinessApplicationHeader
Usage Guideline: head.001_BusinessApplicationHeader_head.001.001.01
Base Message: head.001.001.01
Date of publication: 25 June 2019
URL: https://www2.swift.com/mystandards/#/mp/mx/_5XSokEFaEei166Gk6ZGJ0A/_AjDrsUFbEei166Gk6ZGJ0A
Generated by the MyStandards web platform [http://www.swift.com/mystandards] on 2019-07-09T08:12:40+00:00
-->
<!---->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:head.001.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:head.001.001.01">
    <xs:element name="AppHdr" type="BusinessApplicationHeaderV01"/>
    <xs:simpleType name="BICFIIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BICFIIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification5__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BranchAndFinancialInstitutionIdentification5__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements used to uniquely and unambiguously identify a financial institution or a branch of a financial institution.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification8__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a financial institution, as assigned under an internationally recognised or proprietary identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification5__2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BranchAndFinancialInstitutionIdentification5__2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements used to uniquely and unambiguously identify a financial institution or a branch of a financial institution.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification8__2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a financial institution, as assigned under an internationally recognised or proprietary identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BusinessApplicationHeader1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BusinessApplicationHeader1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the Business Application Header of the Business Message.&#13;
Can be used when replying to a query; can also be used when canceling or amending.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Fr" type="Party9Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">From</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The sending MessagingEndpoint that has created this Business Message for the receiving MessagingEndpoint that will process this Business Message.&#13;
&#13;
Note	the sending MessagingEndpoint might be different from the sending address potentially contained in the transport header (as defined in the transport layer).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="To" type="Party9Choice__2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">To</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The MessagingEndpoint designated by the sending MessagingEndpoint to be the recipient who will ultimately process this Business Message.&#13;
&#13;
Note the receiving MessagingEndpoint might be different from the receiving address potentially contained in the transport header (as defined in the transport layer).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BizMsgIdr" type="TARGET_RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BusinessMessageIdentifier</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguously identifies the Business Message to the MessagingEndpoint that has created the Business Message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MsgDefIdr" type="TARGET_RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageDefinitionIdentifier</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Contains the MessageIdentifier that defines the BusinessMessage.&#13;
It must contain a MessageIdentifier published on the ISO 20022 website.&#13;
&#13;
example	camt.001.001.03.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreDt" type="ISONormalisedDateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time when this Business Message (header) was created.&#13;
Note Times must be normalized, using the "Z" annotation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CpyDplct" type="CopyDuplicate1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CopyDuplicate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the message is a Copy, a Duplicate or a copy of a duplicate of a previously sent ISO 20022 Message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PssblDplct" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PossibleDuplicate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Flag indicating if the Business Message exchanged between the MessagingEndpoints is possibly a duplicate. &#13;
If the receiving MessagingEndpoint did not receive the original, then this Business Message should be processed as if it were the original. &#13;
&#13;
If the receiving MessagingEndpoint did receive the original, then it should perform necessary actions to avoid processing this Business Message again.&#13;
&#13;
This will guarantee business idempotent behaviour.&#13;
&#13;
NOTE: this is named "PossResend" in FIX - this is an application level resend not a network level retransmission.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Prty" type="BusinessMessagePriorityCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Priority</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Relative indication of the processing precedence of the message over a (set of) Business Messages with assigned priorities.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Sgntr" type="SignatureEnvelope">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Signature</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Contains the digital signature of the Business Entity authorised to sign this Business Message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BusinessApplicationHeaderV01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BusinessApplicationHeaderV01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The Business Layer deals with Business Messages. The behaviour of the Business Messages is fully described by the Business Transaction and the structure of the Business Messages is fully described by the Message Definitions and related Message Rules, Rules and Market Practices. All of which are registered in the ISO 20022 Repository.&#13;
A single new Business Message (with its accompagnying business application header) is created - by the sending MessagingEndpoint - for each business event; that is each interaction in a Business Transaction. A Business Message adheres to the following principles:&#13;
" A Business Message (and its business application header) must not contain information about the Message Transport System or the mechanics or mechanism of message sending, transportation, or receipt. &#13;
" A Business Message must be comprehensible outside of the context of the Transport Message. That is the Business Message must not require knowledge of the Transport Message to be understood.&#13;
" A Business Message may contain headers, footers, and envelopes that are meaningful for the business. When present, they are treated as any other message content, which means that they are considered part of the Message Definition of the Business Message and as such will be part of the ISO 20022 Repository.&#13;
" A Business Message refers to Business Actors by their Name. Each instance of a Business Actor has one Name. The Business Actor must not be referred to in the Transport Layer.&#13;
Specific usage of this BusinessMessageHeader may be defined by the relevant SEG.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Fr" type="Party9Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">From</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The sending MessagingEndpoint that has created this Business Message for the receiving MessagingEndpoint that will process this Business Message.&#13;
&#13;
Note	the sending MessagingEndpoint might be different from the sending address potentially contained in the transport header (as defined in the transport layer).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="To" type="Party9Choice__2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">To</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The MessagingEndpoint designated by the sending MessagingEndpoint to be the recipient who will ultimately process this Business Message.&#13;
&#13;
Note the receiving MessagingEndpoint might be different from the receiving address potentially contained in the transport header (as defined in the transport layer).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BizMsgIdr" type="TARGET_RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BusinessMessageIdentifier</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguously identifies the Business Message to the MessagingEndpoint that has created the Business Message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MsgDefIdr" type="TARGET_RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageDefinitionIdentifier</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Contains the MessageIdentifier that defines the BusinessMessage.&#13;
It must contain a MessageIdentifier published on the ISO 20022 website.&#13;
&#13;
example	camt.001.001.03.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreDt" type="ISONormalisedDateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time when this Business Message (header) was created.&#13;
Note Times must be normalized, using the "Z" annotation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CpyDplct" type="CopyDuplicate1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CopyDuplicate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the message is a Copy, a Duplicate or a copy of a duplicate of a previously sent ISO 20022 Message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PssblDplct" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PossibleDuplicate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Flag indicating if the Business Message exchanged between the MessagingEndpoints is possibly a duplicate. &#13;
If the receiving MessagingEndpoint did not receive the original, then this Business Message should be processed as if it were the original. &#13;
&#13;
If the receiving MessagingEndpoint did receive the original, then it should perform necessary actions to avoid processing this Business Message again.&#13;
&#13;
This will guarantee business idempotent behaviour.&#13;
&#13;
NOTE: this is named "PossResend" in FIX - this is an application level resend not a network level retransmission.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Prty" type="BusinessMessagePriorityCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Priority</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Relative indication of the processing precedence of the message over a (set of) Business Messages with assigned priorities.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Sgntr" type="SignatureEnvelope_CSLD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Signature</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Contains the digital signature of the Business Entity authorised to sign this Business Message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Rltd" type="BusinessApplicationHeader1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Related</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the Business Application Header of the Business Message to which this Business Message relates.&#13;
Can be used when replying to a query; can also be used when canceling or amending.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BusinessMessagePriorityCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BusinessMessagePriorityCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the priority levels for the BusinessMessage.&#13;
The different priorities are typically user / service / implementation dependent. The semantics of the different values for a Mesage (Set) need to be defined by the relevant user community (SEG.).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:complexType name="ClearingSystemIdentification2Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ClearingSystemIdentification2Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of a clearing system identifier.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Prtry" type="TARGET_RestrictedFINXMax35Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Identification code for a clearing system, that has not yet been identified in the list of clearing systems.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClearingSystemMemberIdentification2__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ClearingSystemMemberIdentification2__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique identification, as assigned by a clearing system, to unambiguously identify a member of the clearing system.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ClrSysId" type="ClearingSystemIdentification2Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClearingSystemIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specification of a pre-agreed offering between clearing agents or the channel through which the payment instruction is processed.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MmbId" type="TARGET_RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MemberIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a member of a clearing system.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CopyDuplicate1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CopyDuplicate1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies if this document is a copy, a duplicate, or a duplicate of a copy.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CODU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CopyDuplicate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message is being sent as a copy to a party other than the account owner, for information purposes and the message is a duplicate of a message previously sent.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="COPY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Copy</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message is being sent as a copy to a party other than the account owner, for information purposes.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DUPL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Duplicate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message is for information/confirmation purposes. It is a duplicate of a message previously sent.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstitutionIdentification8__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification8__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements used to identify a financial institution.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="BICFI" type="BICFIIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BICFI</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSysMmbId" type="ClearingSystemMemberIdentification2__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClearingSystemMemberIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information used to identify a member within a clearing system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Othr" type="GenericFinancialIdentification1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of an agent, as assigned by an institution, using an identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstitutionIdentification8__2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification8__2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements used to identify a financial institution.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="BICFI" type="BICFIIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BICFI</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Othr" type="GenericFinancialIdentification1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of an agent, as assigned by an institution, using an identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericFinancialIdentification1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericFinancialIdentification1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification of a financial institution.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="TARGET_RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a person.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISONormalisedDateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISONormalisedDateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">an ISODateTime whereby all timezoned dateTime values are UTC.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime">
            <xs:pattern value=".*Z"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Party9Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Party9Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a person, an organisation or a financial institution.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="FIId" type="BranchAndFinancialInstitutionIdentification5__1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Identification of a financial institution.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Party9Choice__2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Party9Choice__2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a person, an organisation or a financial institution.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="FIId" type="BranchAndFinancialInstitutionIdentification5__2">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Identification of a financial institution.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SignatureEnvelope">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SignatureEnvelope</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The W3C XML Schema that specifies following standard signature:&#13;
 XML Signature Syntax and Processing (Second Edition) W3C Recommendation 10 June 2008&#13;
http://www.w3.org/TR/2008/REC-xmldsig-core-20080610/.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:any namespace="http://www.w3.org/2000/09/xmldsig#" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SignatureEnvelope_CSLD">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SignatureEnvelope_CSLD</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:any namespace="http://www.w3.org/2000/09/xmldsig#" processContents="strict"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TARGET_RestrictedFINXMax35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TARGET_RestrictedFINXMax35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters limited to character set X, that is, 0-9 a-z A-Z / - ? : ( ) . , ‘ + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+](|[0-9a-zA-Z/\-\?:\(\)\.,'\+]|[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,33}[0-9a-zA-Z/\-\?:\(\)\.,'\+])"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">YesNoIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates a "Yes" or "No" type of answer for an element.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
