client/resources/com/calypso/schemas/mx/pacs.009.001.CHAPS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2016. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: Bank of England
Collection: FINAL CHAPS L4L Schemas V1.0.0
Usage Guideline: L4L-CHAPS_pacs.009.001.08_(General_Financial_Institution_Transfer_CORE)_MT202
Base Message: pacs.009.001.08
Date of publication: 28 October 2020
URL: https://www2.swift.com/mystandards/#/mp/mx/_2zHUkBeEEeu1nMrdT9db4w/_Yan2txeFEeu1nMrdT9db4w
Generated by the MyStandards web platform [http://www.swift.com/mystandards] on 2020-11-30T13:40:42+00:00
-->
<!---->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:pacs.009.001.08" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:pacs.009.001.08">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification4Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountIdentification4Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the unique identification of an account as assigned by the account servicer.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="IBAN" type="IBAN2007Identifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">IBAN</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">International Bank Account Number (IBAN) - identifier used internationally by financial institutions to uniquely identify the account of a customer. Further specifications of the format and content of the IBAN can be found in the standard ISO 13616 "Banking and related financial services - International Bank Account Number (IBAN)" version 1997-10-01, or later revisions.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Othr" type="GenericAccountIdentification1__1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique identification of an account, as assigned by the account servicer, using an identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode_fixed">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyCode_fixed</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="GBP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GBP</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BICFIDec2014Identifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BICFIDec2014Identifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362: 2014 - "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification6__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BranchAndFinancialInstitutionIdentification6__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a financial institution or a branch of a financial institution.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a financial institution, as assigned under an internationally recognised or proprietary identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification6__2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BranchAndFinancialInstitutionIdentification6__2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a financial institution or a branch of a financial institution.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18__2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a financial institution, as assigned under an internationally recognised or proprietary identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification6__3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BranchAndFinancialInstitutionIdentification6__3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a financial institution or a branch of a financial institution.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18__3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a financial institution, as assigned under an internationally recognised or proprietary identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CBPR_RestrictedFINXMax140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CBPR_RestrictedFINXMax140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a minimum length of 1, and a maximum length of 140 characters, and limited to character set X, that is, 0-9 a-z A-Z / - ? : ( ) . , ' + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CBPR_RestrictedFINXMax35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CBPR_RestrictedFINXMax35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a minimum length of 1, and a maximum length of 35 characters, and limited to character set X, that is, 0-9 a-z A-Z / - ? : ( ) . , ‘ + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CashAccount38__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CashAccount38__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the details to identify an account.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentification4Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CategoryPurpose1Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CategoryPurpose1Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the high level purpose of the instruction based on a set of pre-defined categories.
Usage: This is used by the initiating party to provide information concerning the processing of the payment. It is likely to trigger special processing by any of the agents involved in the payment chain.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="HVP_CategoryPurpose">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Category purpose, as published in an external category purpose code list.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClearingSystemIdentification2Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ClearingSystemIdentification2Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of a clearing system identifier.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="ExternalClearingSystemIdentification1Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Identification of a clearing system, in a coded form as published in an external list.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClearingSystemIdentification3Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ClearingSystemIdentification3Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the clearing system identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="ExternalCashClearingSystem1Code_fixed">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Infrastructure through which the payment instruction is processed, as published in an external clearing system identification code list.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClearingSystemMemberIdentification2__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ClearingSystemMemberIdentification2__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique identification, as assigned by a clearing system, to unambiguously identify a member of the clearing system.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ClrSysId" type="ClearingSystemIdentification2Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClearingSystemIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specification of a pre-agreed offering between clearing agents or the channel through which the payment instruction is processed.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MmbId" type="HVPSPlus_RestrictedFINXMax28Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MemberIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a member of a clearing system.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CreditTransferTransaction36__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CreditTransferTransaction36__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provide further details specific to the individual transaction(s) included in the message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PmtId" type="PaymentIdentification7__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PaymentIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Set of elements used to reference a payment instruction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtTpInf" type="PaymentTypeInformation28__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PaymentTypeInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Set of elements used to further specify the type of transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IntrBkSttlmAmt" type="RestrictedFINActiveCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InterbankSettlementAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Amount of money moved between the instructing agent and the instructed agent.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IntrBkSttlmDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InterbankSettlementDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date on which the amount of money ceases to be available to the agent that owes it and when the amount of money becomes available to the agent to which it is due.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmPrty" type="Priority3Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementPriority</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicator of the urgency or order of importance that the instructing party would like the instructed party to apply to the processing of the settlement instruction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmTmReq" type="SettlementTimeRequest2__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementTimeRequest</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides information on the requested settlement time(s) of the payment instruction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsInstgAgt1" type="BranchAndFinancialInstitutionIdentification6__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PreviousInstructingAgent1</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Agent immediately prior to the instructing agent.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsInstgAgt2" type="BranchAndFinancialInstitutionIdentification6__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PreviousInstructingAgent2</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Agent immediately prior to the instructing agent.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsInstgAgt3" type="BranchAndFinancialInstitutionIdentification6__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PreviousInstructingAgent3</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Agent immediately prior to the instructing agent.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification6__2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InstructingAgent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Agent that instructs the next party in the chain to carry out the (set of) instruction(s).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="InstdAgt" type="BranchAndFinancialInstitutionIdentification6__2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InstructedAgent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Agent that is instructed by the previous party in the chain to carry out the (set of) instruction(s).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrmyAgt1" type="BranchAndFinancialInstitutionIdentification6__3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IntermediaryAgent1</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Agent between the debtor's agent and the creditor's agent.

Usage: If more than one intermediary agent is present, then IntermediaryAgent1 identifies the agent between the DebtorAgent and the IntermediaryAgent2.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrmyAgt1Acct" type="CashAccount38__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IntermediaryAgent1Account</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of the account of the intermediary agent 1 at its servicing agent in the payment chain.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Dbtr" type="BranchAndFinancialInstitutionIdentification6__3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Debtor</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial institution that owes an amount of money to the (ultimate) financial institutional creditor.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DbtrAcct" type="CashAccount38__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DebtorAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of the account of the debtor to which a debit entry will be made as a result of the transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtrAgt" type="BranchAndFinancialInstitutionIdentification6__3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreditorAgent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial institution servicing an account for the creditor.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtrAgtAcct" type="CashAccount38__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreditorAgentAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of the account of the creditor agent at its servicing agent to which a credit entry will be made as a result of the payment transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Cdtr" type="BranchAndFinancialInstitutionIdentification6__3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Creditor</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial institution that receives an amount of money from the financial institutional debtor.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtrAcct" type="CashAccount38__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreditorAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of the account of the creditor to which a credit entry will be posted as a result of the payment transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="4" minOccurs="0" name="InstrForNxtAgt" type="InstructionForNextAgent1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InstructionForNextAgent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Further information related to the processing of the payment instruction that may need to be acted upon by the next agent. 

Usage: The next agent may not be the creditor agent.
The instruction can relate to a level of service, can be an instruction that has to be executed by the agent, or can be information required by the next agent.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="FICdtTrf" type="FinancialInstitutionCreditTransferV08"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact1NumericText_fixed">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact1NumericText_fixed</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">1</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalCashClearingSystem1Code_fixed">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExternalCashClearingSystem1Code_fixed</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="STG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">STG</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalClearingSystemIdentification1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExternalClearingSystemIdentification1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the clearing system identification code, as published in an external clearing system identification code list.&#13;
External code sets can be downloaded from www.iso20022.org.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalLocalInstrument1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExternalLocalInstrument1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the external local instrument code in the format of character string with a maximum length of 35 characters.&#13;
The list of valid codes is an external code list published separately.&#13;
External code sets can be downloaded from www.iso20022.org.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalServiceLevel1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExternalServiceLevel1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the external service level code in the format of character string with a maximum length of 4 characters.&#13;
The list of valid codes is an external code list published separately.&#13;
External code sets can be downloaded from www.iso20022.org.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstitutionCreditTransferV08">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialInstitutionCreditTransferV08</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The FinancialInstitutionCreditTransfer message is sent by a debtor financial institution to a creditor financial institution, directly or through other agents and/or a payment clearing and settlement system.&#13;
It is used to move funds from a debtor account to a creditor, where both debtor and creditor are financial institutions.&#13;
Usage&#13;
The FinancialInstitutionCreditTransfer message is exchanged between agents and can contain one or more credit transfer instructions where debtor and creditor are both financial institutions.&#13;
The FinancialInstitutionCreditTransfer message does not allow for grouping: a CreditTransferTransactionInformation block must be present for each credit transfer transaction.&#13;
The FinancialInstitutionCreditTransfer message can be used in domestic and cross-border scenarios.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="GrpHdr" type="GroupHeader93__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GroupHeader</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Set of characteristics shared by all individual transactions included in the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CdtTrfTxInf" type="CreditTransferTransaction36__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreditTransferTransactionInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Set of elements providing information specific to the individual credit transfer(s).</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstitutionIdentification18__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification18__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the details to identify a financial institution.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="BICFI" type="BICFIDec2014Identifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BICFI</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="HVPSPlus_RestrictedFINXMax70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which an agent is known and which is usually used to identify that agent.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress24__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostalAddress</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstitutionIdentification18__2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification18__2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the details to identify a financial institution.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="BICFI" type="BICFIDec2014Identifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BICFI</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstitutionIdentification18__3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification18__3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the details to identify a financial institution.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="BICFI" type="BICFIDec2014Identifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BICFI</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSysMmbId" type="ClearingSystemMemberIdentification2__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClearingSystemMemberIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information used to identify a member within a clearing system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="HVPSPlus_RestrictedFINXMax70Text_Extended">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which an agent is known and which is usually used to identify that agent.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress24__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostalAddress</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericAccountIdentification1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericAccountIdentification1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to a generic account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax34Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GroupHeader93__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GroupHeader93__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of characteristics shared by all individual transactions included in the message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="CBPR_RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point to point reference, as assigned by the instructing party, and sent to the next party in the chain to unambiguously identify the message.
Usage: The instructing party has to make sure that MessageIdentification is unique per instructed party for a pre-agreed period.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreDtTm" type="HVPSPlus_DateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the message was created.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NbOfTxs" type="Exact1NumericText_fixed">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NumberOfTransactions</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number of individual transactions contained in the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SttlmInf" type="SettlementInstruction7__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the details on how the settlement of the transaction(s) between the instructing agent and the instructed agent is completed.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="HVPSPlus_DateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">HVPSPlus_DateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">HVPSPlus_DateTime</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime">
            <xs:pattern value=".*(\+|-)((0[0-9])|(1[0-3])):[0-5][0-9]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="HVPSPlus_RestrictedFINXMax28Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">HVPSPlus_RestrictedFINXMax28Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 28 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ' + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="28"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="HVPSPlus_RestrictedFINXMax70Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">HVPSPlus_RestrictedFINXMax70Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 70 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ' + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="HVPSPlus_RestrictedFINXMax70Text_Extended">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">HVPSPlus_RestrictedFINXMax70Text_Extended</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 70 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ' + . !#$%&amp;*=^_`{|}~";&lt;&gt;@[\]</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ !#$%&amp;\*=^_`\{\|\}~&quot;;&lt;&gt;@\[\\\]]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="HVPSPlus_Time">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">HVPSPlus_Time</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">HVPSPlus_Time</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:time">
            <xs:pattern value=".*(\+|-)((0[0-9])|(1[0-3])):[0-5][0-9]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="HVP_CategoryPurpose">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">HVP_CategoryPurpose</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies category purpose code.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="4"/>
            <xs:enumeration value="INTC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IntraCompanyPayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Infra Company Payment.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CORT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradeSettlementPayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade Settlement Payment.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IBAN2007Identifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IBAN2007Identifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">An identifier used internationally by financial institutions to uniquely identify the account of a customer at a financial institution, as described in the latest edition of the international standard ISO 13616: 2007 - "Banking and related financial services - International Bank Account Number (IBAN)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:complexType name="InstructionForNextAgent1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">InstructionForNextAgent1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Further information related to the processing of the payment instruction that may need to be acted upon by an other agent. The instruction may relate to a level of service, or may be an instruction that has to be executed by the creditor's agent, or may be information required by the other agent.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="InstrInf" type="CBPR_RestrictedFINXMax140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InstructionInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Further information complementing the coded instruction or instruction to the next agent that is bilaterally agreed or specific to a user community.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LocalInstrument2Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">LocalInstrument2Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements that further identifies the type of local instruments being requested by the initiating party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="ExternalLocalInstrument1Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies the local instrument, as published in an external local instrument code list.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Prtry" type="CBPR_RestrictedFINXMax35Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies the local instrument, as a proprietary code.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentIdentification7__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PaymentIdentification7__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides further means of referencing a payment transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="InstrId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InstructionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification, as assigned by an instructing party for an instructed party, to unambiguously identify the instruction.

Usage: The instruction identification is a point to point reference that can be used between the instructing party and the instructed party to refer to the individual instruction. It can be included in several messages related to the instruction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EndToEndId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EndToEndIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification, as assigned by the initiating party, to unambiguously identify the transaction. This identification is passed on, unchanged, throughout the entire end-to-end chain.

Usage: The end-to-end identification can be used for reconciliation or to link tasks relating to the transaction. It can be included in several messages related to the transaction.

Usage: In case there are technical limitations to pass on multiple references, the end-to-end identification must be passed on throughout the entire end-to-end chain.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="UETR" type="UUIDv4Identifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UETR</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Universally unique identifier to provide an end-to-end reference of a payment transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentTypeInformation28__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PaymentTypeInformation28__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides further details of the type of payment.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="3" minOccurs="0" name="SvcLvl" type="ServiceLevel8Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ServiceLevel</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Agreement under which or rules under which the transaction should be processed.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="LclInstrm" type="LocalInstrument2Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LocalInstrument</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">User community specific instrument.

Usage: This element is used to specify a local instrument, local clearing option and/or further qualify the service or service level.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtgyPurp" type="CategoryPurpose1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CategoryPurpose</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the high level purpose of the instruction based on a set of pre-defined categories.
Usage: This is used by the initiating party to provide information concerning the processing of the payment. It is likely to trigger special processing by any of the agents involved in the payment chain.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress24__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PostalAddress24__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="3" minOccurs="1" name="AdrLine" type="RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AddressLine</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services, presented in free format text.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Priority3Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Priority3Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the priority level of an event.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="URGT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Urgent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Priority level is urgent (highest priority possible).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HIGH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">High</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Priority level is high.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NORM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Normal</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Priority level is normal.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="14"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RestrictedFINActiveCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINActiveCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="RestrictedFINActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode_fixed" use="required">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Medium of exchange of value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINXMax16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . , ‘ + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax34Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax34Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 34 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . , ‘ + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ‘ + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,35}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ServiceLevel8Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ServiceLevel8Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the service level of the transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="ExternalServiceLevel1Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies a pre-agreed service or level of service between the parties, as published in an external service level code list.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementInstruction7__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementInstruction7__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides further details on the settlement of the instruction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="SttlmMtd" type="SettlementMethod1Code__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementMethod</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Method used to settle the (batch of) payment instructions.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ClrSys" type="ClearingSystemIdentification3Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClearingSystem</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specification of a pre-agreed offering between clearing agents or the channel through which the payment instruction is processed.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SettlementMethod1Code__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementMethod1Code__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the method used to settle the credit transfer instruction.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CLRG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClearingSystem</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Settlement is done through a payment clearing system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SettlementTimeRequest2__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementTimeRequest2__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides information on the requested settlement time(s) of the payment instruction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CLSTm" type="HVPSPlus_Time">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CLSTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Time by which the amount of money must be credited, with confirmation, to the CLS Bank's account at the central bank.
Usage: Time must be expressed in Central European Time (CET).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TillTm" type="HVPSPlus_Time">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TillTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Time until when the payment may be settled.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="FrTm" type="HVPSPlus_Time">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FromTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Time as from when the payment may be settled.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RjctTm" type="HVPSPlus_Time">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RejectTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Time by when the payment must be settled to avoid rejection.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="UUIDv4Identifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">UUIDv4Identifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Universally Unique IDentifier (UUID) version 4, as described in IETC RFC 4122 "Universally Unique IDentifier (UUID) URN Namespace".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>

